{% extends 'base/base.html'%}
{% load static %}
{% block content %}

<!-- about us -->
<div id="fh5co-feature-product" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center heading-section">
				<h3>About Us</h3>
				<p>Golden Hearts Family is a value-driven Kenyan based registered CBO . GHF has individuals of vast cultures and backgrounds and embraces inclusion and diversity as this
				enables us to collaborate and have a variety of thinking to get innovative, efficient
				and sustainable socio economic-solutions and outcomes out of what we do in
				alignment with Kenya’s vision 2030 as well as the global Sustainable
				Development Goals (SDGs). As an organization we aim to:
				Advocate for mental health awareness in all social sets up and create a platform to speak up (SDG )
				Promote access to basic needs for the less fortunate within our communities .</p>
			</div>
		</div>

		<div class="row row-bottom-padded-md">
			<div class="col-md-6 text-center animate-box">
				<p><img src="{% static 'images/aboutus1.JPG' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
			</div>
			<div class="col-md-6 text-center animate-box">
				<p><img src="{% static 'images/aboutus2.JPG' %}" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="feature-text">
					<h3>Love</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-text">
					<h3>Compassion</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-text">
					<h3>Charity</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end:about us -->


<!--Our Team-->
<div id="fh5co-content-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Our Team</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-team text-center animate-box">
                    <figure>
                        <img src="{% static 'images/person_1.jpg' %}" alt="user">
                    </figure>

                    <div>
                        <h3>Jean Doe</h3>
                        <p><span>Founder</span></p>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-linkedin2"></i></a>
                        <a href="#"><i class="icon-facebook3"></i></a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-team text-center animate-box">
                    <figure>
                        <img src="{% static 'images/person_2.jpg' %}" alt="user">
                    </figure>
                    <div>
                        <h3>John Doe</h3>
                        <p><span>Founder</span></p>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-linkedin2"></i></a>
                        <a href="#"><i class="icon-facebook3"></i></a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-team text-center animate-box">
                    <figure>
                        <img src="{% static 'images/person_1.jpg' %}" alt="user">
                    </figure>
                    <div>
                        <h3>John Doe</h3>
                        <p><span>Founder</span></p>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-linkedin2"></i></a>
                        <a href="#"><i class="icon-facebook3"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Our Team-->


<!-- our gallery -->
<div id="fh5co-portfolio">
	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
				<h3>Our Gallery</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
			</div>
		</div>

	
		<div class="col mb-4">
			<div class="card">
				<div class="view overlay">
					<img class="card-img-top" src="{{post.image.url}}" alt="">
					<a href="#!">
					<div class="mask rgba-white-slight"></div>
					</a>
				</div>
				<div class="card-body">
					<h4 class="card-title">{{post.heading}}</h4>
					<p class="card-text">{{post.description}}</p>
					<a href="{% url 'detail' post.id %}" class="btn btn-primary btn-md">Read more</a>
				</div>
			</div>
		</div>
		<h2 class = "text-center text-danger">No posts yet!</h2>

		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center animate-box">
				<a href="#" class="btn btn-primary btn-lg">See Gallery</a>
			</div>
		</div>

		
	</div>
</div>
<!-- end:our gallery -->


<!-- our blog -->
<div id="fh5co-blog-section" class="fh5co-section-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Recent Blog Posts</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
			</div>
		</div>
	</div>

	<div class="container">
		{% if posts %}
		{% for post in posts %}
		<div class="row row-bottom-padded-md">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="fh5co-blog animate-box">
					<a href="#"><img class="img-responsive" src="{{ post.photo.url }}" alt=""></a>
					<div class="blog-text">
						<div class="prod-title">
							<h3><a href=""#>{{ post.title }}</a></h3>
							<span class="posted_by">{{ post.author }}</span>
							<span class="posted_by">{{ post.published_date }}</span>
							<span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
							<p>{{ post.text|safe|truncatewords:20 }}</p>
							<p><a href="#">Learn More...</a></p>
						</div>
					</div> 
				</div>
			</div>
			<div class="clearfix visible-md-block"></div>
		</div>
		{% endfor %}
		{% else %}
		<h2 class = "text-center text-danger">No posts yet!</h2>
		{% endif %}

		<div class="row">
			<div class="col-md-4 col-md-offset-4 text-center animate-box">
				<a href="#" class="btn btn-primary btn-lg">Our Blog</a>
			</div>
		</div>

	</div>
</div>
<!-- end:our blog-->


<!-- our projects -->
<div id="projects" id="fh5co-services-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
				<h3>Our Projects</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-4 col-sm-4">
				<div class="services animate-box">
					<span><i class="icon-heart"></i></span>
					<h3>Water Project In Kenya</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="services animate-box">
					<span><i class="icon-heart"></i></span>
					<h3>Shelter Giving</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="services animate-box">
					<span><i class="icon-heart"></i></span>
					<h3>Shelter Giving</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="services animate-box">
					<span><i class="icon-heart"></i></span>
					<h3>Water Project In Kenya</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="services animate-box">
					<span><i class="icon-heart"></i></span>
					<h3>Water Project In Kenya</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="services animate-box">
					<span><i class="icon-heart"></i></span>
					<h3>Midical Mission</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-features">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
					<h3>Support Our Projects</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">

					<div class="feature-left">
						<span class="icon">
							<i class="icon-profile-male"></i>
						</span>
						<div class="feature-copy">
							<h3>Become a volunteer</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							<p><a href="#">Learn More</a></p>
						</div>
					</div>

				</div>

				<div class="col-md-4">
					<div class="feature-left">
						<span class="icon">
							<i class="icon-happy"></i>
						</span>
						<div class="feature-copy">
							<h3>Happy Giving</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							<p><a href="#">Learn More</a></p>
						</div>
					</div>

				</div>
				<div class="col-md-4">
					<div class="feature-left">
						<span class="icon">
							<i class="icon-wallet"></i>
						</span>
						<div class="feature-copy">
							<h3>Donation</h3>
							<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
							<p><a href="#">Learn More</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- end:our projects -->

{% endblock %}